body {
	font-family: arial, verdana, sans-serif;
}

#four {
	background-color: #334D5C;
}

#three {
	background-color: #45B29D;
}

#two {
	background-color: #EFC94C;
}

#one {
	background-color: #E27A3F;
}

#zero {
	background-color: #DF4949;	
}